version: '3.1'
services:
  postgres:
    image: postgres
    restart: always
    ports:
      - "6432:5432"
    environment:
      POSTGRES_PASSWORD: morph
      POSTGRES_DB: morph_test
      POSTGRES_USER: morph
  mysql:
    image: "mysql:5.7"
    restart: always
    ports:
      - "3307:3306"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: morph_test
      MYSQL_USER: morph
      MYSQL_PASSWORD: morph
      MYSQL_ROOT_PASSWORD: morph