on: [push, pull_request]
name: CI
jobs:
  test-drivers:
    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: off

    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}

    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x]

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: morph
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      mysql:
        image: "mysql:5.7"
        env:
          MYSQL_DATABASE: morph_test
          MYSQL_USER: morph
          MYSQL_PASSWORD: morph
          MYSQL_ROOT_PASSWORD: morph        # Set health checks to wait until mysql has started
        command: --default-authentication-plugin=mysql_native_password
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3
        ports:
          - 3307:3306

    runs-on: ubuntu-latest

    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
        path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
    - name: Execute Driver Tests
      run: |
        go get -d -t ./...
        make test-drivers

  test-rest:
    env:
      GOPATH: ${{ github.workspace }}
      GO111MODULE: off

    defaults:
      run:
        working-directory: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}

    strategy:
      matrix:
        go-version: [1.15.x, 1.16.x]
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout Code
      uses: actions/checkout@v2
      with:
        path: ${{ env.GOPATH }}/src/github.com/${{ github.repository }}
    - name: Execute Rest of the Tests
      run: |
        go get -d -t ./...
        make test-rest
